.card-container {
    width: 25%;
    min-height: 5rem;
    border-left: 1px solid #ccc;
    font-size: 1.2rem;
    padding: 0 2%;
    overflow: visible;
    

    h5 {
        color: #ccc;
    }

    h2 {
        padding: 5% 0 0 0;
        color: black;
        width: 100%;
        font-weight: 400;
    }
}