.card-container {
    width: 25%;
    min-height: 5rem;
    border-left: 1px solid var(--gray);
    font-size: 1.2rem;
    padding: 0 2%;
    overflow: visible;


    h5 {
        color: var(--gray);
    }

    h2 {
        padding: 5% 0 0 0;
        color: var(--black);
        width: 100%;
        font-weight: 400;
    }

}

@media screen and (max-width: 1400px) {
    .card-container {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .card-container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}