#map {
    width: 100%;
    min-height: 300px;
    height: 350px;
    max-height: 30%;
    background-color: var(--cyan);
    color: var(--cyan);
    margin: 0 auto;
    margin-top: 1px;
    border-radius: 20px;
    box-shadow: 1px 40px 36px 12px rgba(0, 0, 0, 0.45);
}