.search-container {
    display: flex;
    width: 30%;
    margin: 0 auto;

    .txtField {
        background-color: rgb(255, 255, 255);
        border-radius: 10px 0 0 10px;
        color: black;
    }

    .loader {

        svg {
            vertical-align: middle;
        }
    }


}