.search-container {
    display: flex;
    width: 30%;
    margin: 0 auto;

    .txtField {
        background-color: var(--white);
        border-radius: 10px 0 0 10px;
        color: var(--black);
        height: 100%;
    }

    .loader {

        svg {
            vertical-align: middle;
        }
    }


}
@media screen and (max-width: 1400px) {
    .search-container {
        width: 40%;
    }
}

@media screen and (max-width: 1280px) {
    .search-container {
        width: 45%;
    }
}

@media screen and (max-width: 1100px) {
    .search-container {
        width: 75%;
    }
}