* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.App {
    padding: 2% 5%;
    width: 100%;
    height: auto;
    max-height: 30vh;
    background-image: url('./assets/pattern-bg.png');
    background-size: cover;
    background-position: center;

    h1 {
        color: white;
        margin: 2% auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}