:root {
    --cyan: #75CFF0;
    --white: white;
    --black: #000;
    --gray: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-image: url('./assets/pattern-bg.png');
    background-size: cover;
    background-position: center;

    // background-image: var(--cyan);
}

.App {
    padding: 2% 4%;
    width: 100%;
    min-height: 30vh;
    max-height: 40vh;
    background-image: url('./assets/pattern-bg.png');
    background-size: cover;
    background-position: center;

    h1 {
        color: var(--white);
        margin: 2% auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}